<!DOCTYPE html>
<html lang="en" ng-app="FMApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Manager</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">


    <style type="text/css">
        .sortable {
            cursor: pointer;
        }
    </style>
</head>

<body>
<div class="modal fade" id="createFolderModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>New Folder</h4>
            </div>
            <div class="modal-body">
                <p>Complete Path　{{FM.curFolderPath + FM.newFolderName + '/'}}</p>
                <label class="control-label">Folder Name</label><input class="form-control" autofocus" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadFileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Upload File </h4>
            </div>
            <div class="modal-body">
                <p></p>
                <form method="post" id="upload-form" enctype="multipart/form-data" action="/upload">
                    <div class="form-inline">
                        <input type="file" class="form-control" autofocus>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit"  class="btn btn-primary" >OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="renameModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Rename</h4>
            </div>
            <div class="modal-body">
                <label class="control-label">New Name</label><input class="form-control" autofocus
                                                                    placeholder={{FM.selection[0].name}}/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="moveModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Move</h4>
            </div>
            <div class="modal-body">
                <label class="control-label">Target</label><input class="form-control" autofocus
                                                                  placeholder="{{FM.curFolderPath}}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="archiveModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Create Archive</h4>
            </div>
            <div class="modal-body">
                <label class="control-label">Name</label><input class="form-control" autofocus
                                                                placeholder="Enter name of archive"/>
                <div class="checkbox">
                    <label><input type="checkbox"> Embed directories in archive</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">File Manager</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="btn-toolbar">
        <button type="button" id="download-btn" class="btn btn-default"><span class="glyphicon glyphicon-download"></span> Download
        </button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Delete</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#moveModal"><span class="glyphicon glyphicon-random"></span> Move</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#renameModal"><span class="glyphicon glyphicon-font"></span> Rename</button>
        <button type="button"  class="btn btn-default" data-toggle="modal" data-target="#archiveModal"><span class="glyphicon glyphicon-download-alt"></span> Archive
        </button>
        <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#createFolderModal" ><span class="glyphicon glyphicon-plus-sign"></span> New
            Folder
        </button>
        <button  type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#uploadFileModal" ><span class="glyphicon glyphicon-upload"></span> Upload
        </button>
        <button type="button" class="btn btn-default pull-right" id="up-btn"><span class="glyphicon glyphicon glyphicon-arrow-up"></span> Up
        </button>
    </div>

    <ol class="breadcrumb">
        <span class="glyphicon glyphicon-home"></span>
        <li ng-repeat="p in FM.curBreadCrumbPaths"><a href={{p.path}}>{{p.name}}</a></li>
    </ol>

    <table class="table table-hover table-striped">
        <thead>
        <tr class="sortable">
            <th><input type="checkbox" value="" ng-model="FM.selectAll"></th>
            <th>Type</th>
            <th>Name</th>
            <th>Size</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody id="t-body">
        <tr class="sortable" ng-repeat="file in FM.curFiles | orderBy:'folder'">
            <td><input type="checkbox" value="{{file.name}}" ng-model="file.selected"></td>
            <td ng-click="FM.clickFile(file)"><span
                    class="{{file.folder ? 'glyphicon glyphicon-folder-open' : 'glyphicon glyphicon-file'}}"></span>
            </td>
            <td ng-click="FM.clickFile(file)"><a>{{file.name}}</a></td>
            <td>{{file.humanSize}}</td>
            <td>{{file.humanTime}}</td>
        </tr>
        </tbody>
    </table>

    <div id="successAlert" class="alert alert-success" role="alert" style="display: none">
        <span>{{FM.successData}}</span>
    </div>

    <div id="errorAlert" class="alert alert-danger" role="alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert" alert-label="Close">
            <span aria-hidden="true">&times</span>
        </button>
        <strong>Error!</strong>
        {{FM.errorData}}
    </div>

</div>
<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
